
.card {
  
  display: flex;
  flex-direction: column;
 
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
              
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px;
}

.card:hover {
  box-shadow: 10px 10px 20px rgba(122, 122, 122, 0.5),
              -10px -10px 20px rgba(255, 255, 255, 0.5);
}

.card-header {
  padding: 20px;
  cursor: pointer;
}

.card-body {
  padding: 20px;
}

.add-button-container {
  text-align: right;
  margin-bottom: 20px;
}

.add-button {
  background-color: #0f4c5c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}
.custom-danger-button {
  background-color: #9a031e;
  color: white;
  margin: 20px;
}


.custom-primary-button {
  background-color: #3d5a80;
  color: white;
  margin: 20px;
}



