
<div class="add-button-container">
  <button class="add-button" (click)="navigateToCreatePastries()">Ajouter une recette</button>
</div>


<div class="card-container">
<div *ngFor="let pastrie of pastries, let i = index" class="card">
  <div class="card-header" (click)="toggleCard(pastrie.id)" [ngStyle]="{ 'background-color': getCardColor(i) }">
    <h5>{{pastrie.name }}</h5>
    <p>Type: {{pastrie.ref}}</p>
    <ul>
      <li *ngFor="let tag of pastrie.tags"class="d-inline"><strong>.</strong>{{ tag }} <strong>.</strong></li>
    </ul>
  </div>
  <div class="card-body" *ngIf="selectedPastrieId === pastrie.id">
    <p>Description: {{ pastrie.description}}</p>
    <p>URL: {{ pastrie.url }}</p>
    <p>Quantité: {{pastrie.quantity}}</p>
    <p>Order: {{pastrie.order}}</p>
    <p>Like: {{ pastrie.like}}</p>
    <p>Choice: {{ pastrie.choice}}</p>
    <div class="d-flex justify-content-end mb-2">
    <button class="btn btn-primary custom-primary-button" (click)="updatePastrie(pastrie.id)">Modifier</button>
    <button class="btn btn-danger custom-danger-button" (click)="deletePastrie(pastrie.id)">Supprimer</button>
  </div>
</div>
  
</div>
</div>
