.back-button {
    display: block;
  margin: auto 0;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  color: #0f4c5c;
  }